body{
    background-color: rgb(204, 210, 226);
    
}

h1,h2{           
    text-align: center;
    font-size:50px;
}

p{
    text-align: center;
    font-size: 30px;
}

button{
    display:block;
    margin:0% auto;
    font-size:30px;
}

input{
    display:block;
    margin:0% auto;
    font-size:30px; 

}

input::placeholder {
    text-align: center;
}

input {
    text-align:center;
}

#datosDelaCuenta {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:35px;

}